.ui.centered.grid {
  padding: 5%;
}

#eventall-hero {
  height: 500px;
  border-radius: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-width: inherit;
  overflow: hidden;
  background-color: rgb(142, 183, 188);
}

#eventall-gaussian {
  width: 100%;
  /* overflow: hidden; */
  height: 100%;
  object-fit: cover;
  filter: blur(10px) brightness(0.9);
  -webkit-filter: blur(5px);
  box-shadow: none;
  display: inline-block;
}

#eventall-textcontainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.65); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#eventall-h1 {
  font-size: 80px;
  letter-spacing: 0px;
  margin: 0 0 5px;
  z-index: 9999;
}

#hero-button {
  z-index: 9999;
  padding: 0 23px;
  height: 40px;
  display: inline-block;
  background-color: #fb749e;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

#hero-button:hover {
  color: #fff;
  background: #f9004d;
  animation-name: shine;
  animation-duration: 220ms;
}

@keyframes shine {
  0% {
    background: linear-gradient(
      30deg,
      hsl(260, 85%, 95%) 0%,
      hsl(339, 100%, 50%) 25%
    );
  }

  25% {
    background: linear-gradient(
      30deg,
      hsl(339, 100%, 50%) 0%,
      hsl(260, 85%, 95%) 25%,
      hsl(339, 100%, 50%) 50%
    );
  }

  50% {
    background: linear-gradient(
      30deg,
      hsl(339, 100%, 50%) 0%,
      hsl(260, 85%, 95%) 50%,
      hsl(339, 100%, 50%) 75%
    );
  }

  75% {
    background: linear-gradient(
      30deg,
      hsl(339, 100%, 50%) 0%,
      hsl(260, 85%, 95%) 75%,
      hsl(339, 100%, 50%) 100%
    );
  }

  100% {
    background: linear-gradient(
      30deg,
      hsl(339, 100%, 50%) 0%,
      hsl(260, 85%, 95%) 100%
    );
  }
}
