div.ui.container:hover img#poster {
  transform: none;
  transition: none;
}

div.ui.container img#poster {
  flex-shrink: 0;
  height: 75%;
  object-fit: cover;
  object-position: center center;
}

#event-hero {
  height: 500px;
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  box-shadow: none;
  border-width: inherit;
  background-color: #2b3337;
  overflow: hidden;
  z-index: -1;
}

#gaussian-poster {
  width: 100%;
  /* overflow: hidden; */
  height: 100%;
  object-fit: cover;
  filter: blur(50px) brightness(0.9);
  -webkit-filter: blur(18px);
  box-shadow: none;
  display: inline-block;
}

button.ui.vertical.animated.button {
  padding: 0 23px;
  height: 40px;
  display: inline-block;
  border: 2px solid #f9004d;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  position: relative;

  letter-spacing: 0.2px;
  text-transform: uppercase;
}

button.ui.vertical.animated.button:hover {
  border: 2px solid #f9004d;
  color: #fff;
  background: #f9004d;
}
